{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh;">
    <h1>Finaliser Votre Commande</h1>

    {# Début du formulaire #}
    {{ form_start(form) }}

    {# Champs du formulaire pour chaque champ dans le formulaire Symfony #}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.code_postal) }}

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>

    {# Fin du formulaire #}
    {{ form_end(form) }}
</div>
{% endblock %}
