{% extends 'base.html.twig' %}

{% block title %}Page de Finalisation{% endblock %}

{% block body %}
<br><br><br><br>
<div class="row">
    <div class="col-md-4">
        <div class="col-12">
            <h1>Formulaire de Livraison</h1>
            {{ form_start(deliveryForm) }}
            {{ form_row(deliveryForm.nom) }}
            {{ form_row(deliveryForm.prenom) }}
            {{ form_row(deliveryForm.ville) }}
            {{ form_row(deliveryForm.codepostal) }}
            {{ form_row(deliveryForm.adresse) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-12">
            <h1>Formulaire de Paiement</h1>
            {{ form_start(PaymentForm) }}
            {{ form_row(PaymentForm.numeroCarte) }}
            {{ form_row(PaymentForm.ccv) }}
            {{ form_row(PaymentForm.dateExpiration) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-12">
            <h1>Formulaire de Facturation</h1>
            {{ form_start(FinaliserForm) }}
            {{ form_row(FinaliserForm.nom) }}
            {{ form_row(FinaliserForm.prenom) }}
            {{ form_row(FinaliserForm.ville) }}
            {{ form_row(FinaliserForm.codepostal) }}
            {{ form_row(FinaliserForm.adresse) }}
            {{ form_row(FinaliserForm.total) }} {# Ajout du champ total #}
            {{ form_end(FinaliserForm) }}
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}