{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}
    <div class="contenu">
        <h1 class="row col-12 fst-italic">Nos {{ categories.libelle}}</h1>
        <main class="container">
            <div class="row">
                {# Boucle pour afficher chaque plat #}
                {% for plat in plats %}
                    <div class="col-md-6 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('img/food/' ~ plat.image) }}" alt="{{ plat.libelle }}">
                            <div class="card-body">
                                <h5 class="card-title"> {{ plat.libelle }}</h5>
                                <p class="card-text">
                                    {{ plat.description}}
                                </p>
                                <p class="content bg-body"> {{ plat.prix}}</p>
                            </div>
                            <button type="button" class=" d-block mt-5 btn btn-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#modal{{ plat.id }}">Ajouter au panier
                                <i class="bi bi-basket"></i>
                            </button>
                            {# Test des boutons d'ajout #}
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-secondary bg-danger quantity-button" data-plat-id="{{ plat.id }}" data-action="decrement">-</button>
                                    <input  name="quantite" value="1" min="1" max="10" class="quantity-input col-2 text-center" data-plat-id="{{ plat.id }}">
                                    <button class="btn btn-secondary bg-success quantity-button" data-plat-id="{{ plat.id }}" data-action="increment">+</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    {# Si vous avez affiché 2 cartes, fermez la rangée actuelle et commencez une nouvelle rangée #}
                    {% if loop.index is even %}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
    
{% endblock %}
